*{
    font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot');
    src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }


.main-header{
background-color: #2c3e50;
color: white;
text-align: center;
}

.site-name{
    display: inline-block;
    font-size: 25px;
    font-weight: 900;
    position: relative;
    left: -250px;
}

.main-menu{
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    position: relative;
    right: -250px;
}

.menu-list{
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.presentation{
    background-color: #18bc9c;
    text-align: center;
    color: white;
}

#profile{
    width: 230px;
    padding-top: 100px;
}

#title{
    font-size: 70px;
    font-weight: 900;
}

hr{
    width: 200px;
    height: 5px;
    border: none;    
}

.white-hr{
    background-color: white;
}

.white-hr::after {
    content: "/e9d9";
    font-family: "icomoon";
    font-weight: 900;
    font-size: 30px;
    color: white;
    background-color: #18bc9c;
  }


.gray-hr{
    background-color: #2c3e50;
}

.gray-hr::after {
    content: "/e9d9";
    font-family: "icomoon";
    font-weight: 900;
    font-size: 30px;
    color: #2c3e50;
    background-color: white;
    display: inline-block;
  }

#professional-labels{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600; 
    padding-bottom: 90px;
    padding-top: 15px;
}

.portfolio{
    color: #2c3e50;
    text-align: center;
    padding: 70px 1px;    
}

.section-title{
    font-size: 40px;
    margin: 25px;
    font-weight: 900;
}

.portfolio-image{
    display: inline-block;
    width: 23%;
    padding: 13px;    
}

.about{
    background-color: #18bc9c;
    text-align: center;
    color: white;
    padding: 70px 1px;
}

.about-text{
    display: inline-block;
    padding: 10px 30px;
    width: 24%;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
}

.theme-button{
    background-color: transparent;
    border: 2px solid white;
    display: block;
    text-align: center;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
}

.contact{
    color: #212529;
    text-align: center;
    padding: 70px 1px;
}

form{
    padding: 30px;
}

.contact-form{
    font-weight: 600;
    font-size: 23px;
    display: block;
    border-bottom: 1px solid #e9ecef;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 45%; 
    height: 45px;
    padding: 15px;
    position: relative;
    left: 27%;
}

#contact-message{
    height: 160px;
    margin-bottom: 30px;
}

.contact-button{
    font-weight: 600;
    font-size: 18px;
    color: white;
    width: 70px;   
    height: 40px;  
    background-color:  #18bc9c;
    position: relative;
    left: -260px;
    border-radius: 5%;
    border: 1px solid transparent;
}

footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
}

.footer-section{
    display: inline-block;
    width: 25%;
}